/* span.select2-selection.select2-selection--single {
    display: none;
}

.select2.select2-container.select2-container--default.select2-container--focus,
.select2.select2-container.select2-container--default {
    display: none !important;
} */

.select2.select2-container {
    min-width: 200px !important;
}

.select2.select2-container:hover,
.select2.select2-container:focus {
    outline: none;
    box-shadow: none;
}

.select2.select2-container *,
.select2.select2-container *:hover,
.select2.select2-container *:focus {
    outline: none;
} 

.un-seen {
    font-weight: bold;
}

.col-card {
    padding: 1rem;
    border: 1px solid rgb(228, 228, 228);
    background-color: rgb(243, 243, 243);
    margin-top: 1rem;
}

.col-card .card-title {
    margin-top: 0;
}

.col-card table .row-title {
    text-align: left;
}

.col-card.col-flex {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.col-card.col-flex .col-avatar {
    width: 10%;
    margin-right: 30px;
}

.col-card.col-flex .col-info {
    width: 90%;
}

.col-card.col-flex .col-avatar img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

#class_schedule_table .regular-text {
    width: 100%;
}

.subjects-checkbox {
    display: inline-block;
}

.subjects-checkbox input[type="checkbox"] {
    display: none !important;
}

.subjects-checkbox label {
    padding: .25rem 1rem;
    color: #9e9d9d;
    border: 1px solid #d3d3d3;
}

.subjects-checkbox input:checked ~ label {
    background-color: #ff961e;
    color: #fff;
} 

.clasroom-tags {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.clasroom-tags li {
    border: 1px solid #CCC;
    border-radius: 3px !important;
    padding: 5px;
    display: inline-block;
    margin-right: 5px;
    margin: 5px 0;
}

.class_schedule_start,
.class_schedule_end {
    margin: 0;
    min-height: 35px;
    border: 1px solid #ddd;
}

#class_schedule_table tbody tr.form-row:not(:last-child) td:first-child a{
    display: none;
}

.form-filter {
    margin: 1rem 0;
}

.form-filter #filter_target {
    margin-bottom: 0;
}

.submit-form {
    height: 38px;
    background-color: #1c83d2;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.submit-form .fa.fa-filter {
    margin-right: 10px;
}

.btn-gs-classroom {
    background-color: #1c4587;
    color: white;
    padding: .5rem 1rem;
    display: inline-block;
    cursor: pointer;
    min-width: 100px;
    text-align: center;
}

.btn-gs-classroom:hover {
    background-color: #285eb4;
    color: white;
}

.clasroom-table thead th {
    white-space: nowrap;
}

.clasroom-tags li {
    display: inline-block;
    margin-right: 6px;
}

.button.icon.circle>span {
    margin: 0 8px;
    color: #fff;
}

.button.icon.circle>span+i {
    color: #fff;
}

p.classroom_price {
    color: #ed1c24;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
}

@media only screen and (min-width: 1200px) {
    .form-filter {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .form-filter .select2{
        margin-right: 8px;
    }
}

@media only screen and (max-width: 1199px) {
    .classroom-section .row {
        max-width: calc(100vw - 30px);
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .form-filter {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .form-filter .select2{
        margin-right: 4px;
    }
}

@media only screen and (max-width: 991px) {
    .form-filter {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .form-filter .select2{
        margin-right: 0;
        width: 100% !important;
        margin-bottom: 8px;
    }

    .submit-form {
        width: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .form-filter {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .form-filter .select2{
        margin-right: 0;
        width: 100% !important;
        margin-bottom: 8px;
    }

    .submit-form {
        width: 100px;
    }

    /* .table-scroll {
        width: 100%;
        scroll-behavior: smooth;
        overflow: auto;
    } */

    .table-scroll table tr th:first-child,
    .table-scroll table tr td:first-child {
        display: none;
    }

    .table-scroll table tr th:nth-child(2),
    .table-scroll table tr td:nth-child(2) {
        min-width: 360px;
    }
}

.widget_products .card {
    border: 1px solid #999;
    height: 100%;
    font-size: 15px;
    position: relative;
    min-height: 360px;
}

.widget_products .card .card-header {
    padding: 8px 14px;
    background-color: #1c83d2;
    color: #fff;
}

.widget_products .card .card-header p {
    margin-bottom: 0;
}

.widget_products .card .card-body {
    padding: 14px;
    padding-bottom: 36px;
    min-height: 280px;
}

.widget_products .card .card-body .class_title{
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.widget_products .card .card-body p{
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.widget_products .card .card-body .class_title i,
.widget_products .card .card-body p i {
    margin-right: 8px;
    font-size: 12px;
    min-width: 12px;
    text-align: center;
}

.widget_products .card .card-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #38b34b;
    opacity: 1;
    visibility: visible;
    height: 36px;
    transition: .5s;
}

.widget_products .card:hover .card-footer {
    background-color: #28a745;
}

.widget_products .card .card-footer a{
    color: #fff;
    padding: .35rem 1rem;
    display: inline-block;
    float: right;
}

.widget_products .card .card-footer a i {
    font-size: 12px;
    margin-left: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination .page-numbers {
    border: 1px solid #999;
    color: #333;
    /* width: 36px; */
    height: 25px;
    width: 25px;
    text-align: center;
    margin: 0 4px 20px;
}

.pagination .prev,
.pagination .next {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: unset;
    padding: 0 10px;
    background-color: unset;
    padding-top: 3px;
    color: #333;
}

.pagination .prev i,
.pagination .next i {
    font-size: 12px;
}

.col-inner .mb-1 p {
    margin-bottom: 6px;
}

.col-inner .mb-1 p i {
    margin-right: 10px;
}

.single-classroom-details h1,
.single-classroom-details h2,
.single-classroom-details h3,
.single-classroom-details h4,
.single-classroom-details h5,
.single-classroom-details h6
{
    font-weight: bold;
}

.single-classroom-details .class_fee {
    margin-bottom: 8px;
    font-size: 14px;
}

.single-classroom-details .class_fee span {
    color: #f30000;
}

.text-muted {
    color: rgb(163, 162, 162);
    font-size: 14px;
}

.gs-popup-classroom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, .8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
}

.gs-popup-classroom.d-none {
    display: none;
}

.gs-popup-classroom .contents {
    padding: 2rem;
    background-color: #d2e6f6;
    box-shadow: 0px 1px 7px 0px #d2e6f6;
    position: relative;
    max-width: 90%;
}

@media only screen and (max-width: 768px) {
    .gs-popup-classroom .contents {
        padding: 1rem;
    }
}

.gs-popup-classroom .contents i.fa.fa-times {
    position: absolute;
    right: -13px;
    top: -12px;
    border: 1px solid;
    padding: 5px 7px 7px;
    border-radius: 50px;
    background-color: #fff;
}

.breadcrumbs-section {
    margin-top: 1rem;
}

.breadcrumbs-section .col {
    padding-bottom: 0 !important;
}

#form-keywords {
    margin-bottom: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    height: 39px;
}

@media only screen and (max-width: 991px) {
    #form-keywords {
        width: calc(100% - 100px);
    }
}

.filter-parent {
    position: relative;
    /* z-index: 10; */
    margin-right: 5px;
    margin-bottom: 5px;
}

.filter-section .submit-form {
    margin-bottom: 5px;
}

.filter-parent .filter-title {
    background-color: #fff;
    padding: .375rem .75rem;
    border: 1px solid #9ca1a5;
    color: #6c757d;
    border-radius: 0;
    line-height: 1.5;
    position: relative;
    z-index: 999;
    cursor: pointer;
    min-width: 200px;
    z-index: 2;
}

.filter-section .col {
    padding-bottom: 0 !important;
}

.filter-parent .filter-title::after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    width: 5px;
}

@media only screen and (max-width: 576px) {
    .filter-parent {
        width: 100%;
        margin-right: 0;
    }
}

.filter-parent.active .filter-title::after,
.filter-parent:hover .filter-title::after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.filter-parent .filter-menu {
    position: absolute;
    width: 100%;
    -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 70%);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,.7);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 70%);
    margin-bottom: 1rem;
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding-bottom: 30px;
    max-height: 230px;
    background-color: #fff;
    z-index: 5;
}

.filter-parent.single .filter-menu{
    padding-bottom: .75rem;
}

.filter-parent .filter-menu .filter-menu-list {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 200px;
    padding: .5rem;
}

.filter-parent.active .filter-menu,
.filter-parent:hover .filter-menu {
    opacity: 1;
    visibility: visible;
    height: unset;
}

.filter-parent.active .filter-menu .filter-action,
.filter-parent:hover .filter-menu .filter-action {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .5rem 1rem;
}

/* width */
.filter-parent .filter-menu .filter-menu-list::-webkit-scrollbar {
    width: 8px;
}
  
  /* Track */
.filter-parent .filter-menu .filter-menu-list::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
  /* Handle */
.filter-parent .filter-menu .filter-menu-list::-webkit-scrollbar-thumb {
    background: rgb(167, 167, 167); 
}
  
  /* Handle on hover */
.filter-parent .filter-menu .filter-menu-list::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.filter-parent .filter-menu .form-check {
    display: inline-flex;
    align-items: center;
    justify-content: start;
}

.filter-parent .checkmark {
    color: #333;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    margin-bottom: 12px;
}

.filter-parent .filter-actions {
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: #f9f9f9;
    border-top: 1px solid #9ca1a5;
}

.filter-parent .filter-actions-button {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: .25rem .5rem;
    font-size: 14px;
    cursor: pointer;
}

.filter-parent .filter-actions-button.filter-actions__delete {
    color: #f30000;
}

@media only screen and (max-width: 768px) {
    .widget_products .card .card-footer {
        opacity: 1;
        visibility: visible;
        height: 36px;
    }
}

.noty h3.uppercase {
    margin-bottom: 12px;
}

.noty .woocommerce-form-row label {
    text-align: left;
}

.noty .woocommerce-form-login__rememberme {
    margin-bottom: 0;
}

.woocommerce-MyAccount-content .select2.select2-container {
    margin-bottom: 1.3em;
}

.gs_notice {
    font-size: 14px;
    color: #f30000;
    padding-left: 16px;
    border-left: 5px solid;
}

.gs_notice a {
    color: #f30000;
    text-decoration: underline;
    font-weight: bold;
}
.single-classroom-details .mb-1 i.fa {
    min-width: 16px;
    margin-right: 10px;
    text-align: center;
}

.color-available {
    color: #28a745;
}

.filter-menu-list.d-none {
    display: none
}

@media only screen and (max-width: 767px) {
    tr[data-name="user_prof_mail_sms_submit"],
    tr[data-name="user_prof_certificate"],
    tr[data-name="user_prof_avatar"] {
        display: block;
        width: 100%;
    }

    tr[data-name="user_prof_mail_sms_submit"] td.acf-label,
    tr[data-name="user_prof_certificate"] td.acf-label,
    tr[data-name="user_prof_avatar"] td.acf-label{
        padding-bottom: 0;
        border: unset;
        width: 100%;
        padding-bottom: 0;
    }
 
    tr[data-name="user_prof_mail_sms_submit"] td.acf-input,
    tr[data-name="user_prof_certificate"] td.acf-input,
    tr[data-name="user_prof_avatar"] td.acf-input {
        display: block;
        border: unset;
        width: 100%;
    }
}